 [include]
	path = ~/.gitconfig.local

[user]
	email = ruteshp21@gmail.com
	name = Rutesh Patil

[core]
	editor = $EDITOR
	excludesfile = ~/.gitignore_global
	ignorecase = false
	abbrev = 12
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true

[alias]
	l  = log --graph --oneline --decorate
	ld = log --graph --pretty=format:'%C(yellow)%h%C(bold white red)%d%Creset %s %C(bold green)%cr %Creset%C(white)%an' --abbrev-commit --date=relative
	ll = log --stat --decorate --source -p
	branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes

[color]
	ui = auto

[diff]
	algorithm = histogram
	colorMoved = zebra

[merge]
	conflictstyle = zdiff3

[push]
	default = current
	autoSetupRemote = true

[pull]
	rebase = true

[commit]
	verbose = true

[fetch]
	prune = true

[rebase]
	autosquash = true
	autostash = true

[init]
	defaultBranch = main

[help]
	autocorrect = prompt

[credential]
	helper = osxkeychain
